@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.headerimg {
  margin-left: -21px;
  max-height: 75px;
}
.navbarbox {
  padding: 0px;
  height: 135px;
  width: auto;
  background: #fff;
  box-shadow: 1px 3px 6px 0px #afafaf;
}
.navigationbar {
  text-align: center;
  top: auto;
  width: auto;
  height: auto;
}
.navtext {
  margin: 8px auto;
  height: auto;
  max-width: 1200px;
  max-height: 200px;
  text-align: center;
}
.News {
  margin-left: 25px;
  max-width: 100px;
  max-height: 100px;
}
.économie {
  margin-left: 25px;
}
.culture {
  margin-left: 25px;
}
.naissance {
  margin-left: 25px;
}
.miseaprix {
  margin-left: 25px;
  margin-right: 25px;
}
.navigationbar a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
a {
  text-align: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
a:hover {
  color: rgb(207, 141, 118);
  text-decoration: overline;
}
body {
  background-color: #e9edef;
}
/* PARTIE BOITE NEWS */
.activity {
  position: absolute;
  border-radius: 4px;
  height: 200px;
  width: 400px;
  right: 20px;
  top: 200px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.title_activity_1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  left: 1115px;
  top: 212.5px;
  color: rgb(254, 255, 255);
  border-radius: solid 2px black;
  font-size: large;
}
.description_activity_1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  left: 1115px;
  top: 250px;
  color: white;
  border-radius: solid 2px black;
  font-size: medium;
}
.activity_1 {
  position: absolute;
  border-radius: 4px;
  height: 200px;
  width: 400px;
  right: 20px;
  top: 450px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.activity_2 {
  position: absolute;
  border-radius: 4px;
  height: 200px;
  width: 400px;
  right: 20px;
  top: 700px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.activity_3 {
  position: absolute;
  border-radius: 4px;
  height: 200px;
  width: 400px;
  right: 20px;
  top: 950px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.activity_4 {
  position: absolute;
  border-radius: 4px;
  height: 200px;
  width: 400px;
  right: 20px;
  top: 1200px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.wood {
  position: absolute;
  left: 30px;
  border-radius: 10px;
  height: 200px;
  width: 900px;
  top: 200px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.title_article {
  position: absolute;
  font-family: "Poppins", sans-serif;
  left: 50px;
  top: 200px;
  color: white;
  border-radius: solid 2px black;
}
.description_article_1 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  left: 50px;
  top: 250px;
  color: #ffffff;
  border-radius: solid 2px black;
}
.hunting {
  position: absolute;
  left: 30px;
  border-radius: 10px;
  height: 200px;
  width: 900px;
  top: 450px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.bank {
  position: absolute;
  left: 30px;
  border-radius: 10px;
  height: 200px;
  width: 900px;
  top: 700px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.forest {
  position: absolute;
  left: 30px;
  border-radius: 10px;
  height: 200px;
  width: 900px;
  top: 950px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.town {
  position: absolute;
  left: 30px;
  border-radius: 10px;
  height: 200px;
  width: 900px;
  top: 1200px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.link_1 {
  position: absolute;
  height: 0px;
  width: 300px;
  left: 2px;
  top: 350px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_2 {
  position: absolute;
  height: 0px;
  width: 300px;
  left: 2px;
  top: 600px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_3 {
  position: absolute;
  height: 0px;
  width: 300px;
  left: 2px;
  top: 850px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_4 {
  position: absolute;
  height: 0px;
  width: 300px;
  left: 2px;
  top: 1100px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_5 {
  position: absolute;
  height: 0px;
  width: 300px;
  left: 2px;
  top: 1350px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_6 {
  position: absolute;
  height: 0px;
  width: 300px;
  right: 150px;
  top: 350px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_7 {
  position: absolute;
  height: 0px;
  width: 300px;
  right: 150px;
  top: 600px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_8 {
  position: absolute;
  height: 0px;
  width: 300px;
  right: 150px;
  top: 850px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_9 {
  position: absolute;
  height: 0px;
  width: 300px;
  right: 150px;
  top: 1100px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_10 {
  position: absolute;
  height: 0px;
  width: 300px;
  right: 150px;
  top: 1350px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.7em;
  text-transform: uppercase;
}
.link_1:hover,
.link_2:hover,
.link_3:hover,
.link_4:hover,
.link_5:hover,
.link_6:hover,
.link_7:hover,
.link_8:hover,
.link_9:hover,
.link_10:hover {
  color: rgb(207, 141, 118);
}
.anchor {
  animation: floating 6s ease-in-out 0s infinite;
  position: absolute;
  right: 50px;
  top: 1500px;
  width: 50px;
  height: 50px;
}
@keyframes floating {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(10px);
  }
}
/*FOOTER*/
footer {
  position: absolute;
  top: 1600px;
  width: 100%;
  background-color: #121619;
  box-shadow: 1px -3px 6px 0px #afafaf;
  color: #fff;
}
.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top_header section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.top_header span {
  padding: 0 1rem;
}
.top_header .fa {
  color: #ffbe00;
  font-size: 35px;
}
footer .border-shape {
  width: 40%;
}
footer .border-shape::before {
  width: 100%;
  left: 120px;
}
footer .border-shape::after {
  width: 100%;
  right: 120px;
}
footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}
.bottom_content a {
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.bottom_content a:hover {
  color: rgba(255, 255, 255, 1);
}
.copyright {
  padding: 0.8em 0;
  background-color: #1e1e1e;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
.copyright a {
  color: rgba(255, 255, 255, 0.7);
}
.copyright a:hover {
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 820px) {
  .top_header {
    padding: 1rem;
    display: block;
  }
  .top_header section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }
  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }
  footer .bottom_content section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}
