@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e9edef;
}
.navbarbox {
  position: absolute;
  background: #fff;
  height: 132px;
  width: 2184px;
}
.shadowboxnavbar {
  position: absolute;
  background: rgb(210, 211, 212);
  top: 131px;
  height: 2px;
  width: 1519px;
}
.navigationbar {
  position: absolute;
  top: 80px;
  left: 385px;
}
ul,
li,
a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}
a:hover {
  color: rgb(207, 141, 118);
}
ul,
li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.titreh1 {
  position: absolute;
  left: 650px;
  top: 5px;
  font-size: 2em;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
}
.globale{
  display: inline-flex;
  margin: 10px 5px 10px 15px;
}
.date{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 30px;
}
.imagegauche{
  margin-right: 20px;
}
.textedroite{
  font-size: 20px;
  font-weight: bold;
}
.boxnews {
  position: relative;
  left: 40px;
  right: 80px;
  border: solid 2px blue;
  border-radius: 30px;
  height: 904x;
  width: 904px;
  top: 180px;
  margin: 0 auto;
}
.premiereimage {
  width: 250px;
}
.deuxiemeimage {
  width: 250px;
  text-indent: 35px;
}
.troisiemeimage {
  width: 250px;
}
.quatriemeimage {
  width: 250px;
}
.navboxN {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.boxnews2 {
  position: relative;
  left: 40px;
  border: solid 3px red;
  border-radius: 24px;
  height: 1300px;
  width: 900px;
  top: 280px;
  font-size: 18px;
  margin: 0 auto;
  
  /* background-image: ; */
}
.fondcimetiere {
  width: 325px;
  height: 400px;
}
.navboxD {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.boxnews3 {
  position: relative;
  left: 40px;
  border: solid 2px black;
  border-radius: 30px;
  height: 1200px;
  width: 900px;
  top: 385px;
  font-size: 25px;
  text-indent: 35px;
  margin: 0 auto;
}
.disparu {
  width: 600px;
  height: 400px;
}
.navboxD {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
/* FOOTER  */
.blocfooter {
  position: absolute;
  top: 650%;
  width: 1519px;
  background: black;
}
.logo {
  position: absolute;
  top: 10%;
  right: 7.5%;
}
.copyright-text {
  position: absolute;
  top: 80%;
  right: 3%;
  color: white;
  font-family: "Poppins", sans-serif;
}
.copyright-text a {
  color: white;
}
.copyright-text a:hover {
  color: rgb(207, 141, 118);
}
.col {
  width: 400px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
/*footer{
  position: absolute;
  bottom: 0;
}*/
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
