@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.headerimg {
  margin: -230px 0 0 0;
  margin-left: 500px;
  padding: 0px;
  top: -90px;
  left: 499px;
  height: 300px;
}
.navbarbox {
  padding: 0px;
  background: #fff;
  height: 135px;
  width: auto;
  box-shadow: 1px 3px 6px 0px #afafaf;
}
.navigationbar {
  padding: 0px;
  margin: -120px 0 0 0;
  margin-left: 247px;
  top: 100px;
  left: 332px;
}
.navigationbar a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
ul,
li,
a {
  text-align: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
a:hover {
  color: rgb(207, 141, 118);
}
ul,
li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
/* .titreh1 {
  position: absolute;
  left: 660px;
  top: 20px;
  font-family: "font-1", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
} */
body {
  background-color: #e9edef;
}
.globale {
  display: inline-flex;
  margin: 10px 15px 10px 15px;
  background-color: white;
}
.date {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 30px;
}
.imagegauche {
  margin-right: 20px;
}
.textedroite {
  font-size: 20px;
  font-weight: bold;
}
.textedroitedroite {
  margin: 135px 15px 18px -145px;
  background-color: rgb(189, 139, 85);
  text-align: center;
}
.boxnews {
  position: relative;
  left: 40px;
  right: 80px;
  border: solid 3px black;
  border-radius: 24px;
  height: 904x;
  width: 904px;
  top: 180px;
  margin: 0 auto;
}
.premiereimage {
  width: 250px;
}
.deuxiemeimage {
  width: 250px;
  text-indent: 35px;
}
.troisiemeimage {
  width: 250px;
}
.quatriemeimage {
  width: 250px;
}
.cinquiemeimage {
  width: 250px;
}
.sixiemeimage {
  width: 250px;
}
.navboxN {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.boxnews2 {
  position: relative;
  left: 40px;
  border: solid 3px black;
  border-radius: 24px;
  height: 1150px;
  width: 900px;
  top: 280px;
  font-size: 22px;
  margin: 0 auto;
  background-image: url(../images/cimetieres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navboxD {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.boxnews3 {
  position: relative;
  left: 40px;
  border: solid 3px black;
  border-radius: 24px;
  height: 1200px;
  width: 900px;
  top: 385px;
  font-size: 25px;
  text-indent: 35px;
  margin: 0 auto;
  background-image: url(../images/missing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.data {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  color: red;
  margin: -1px 21px 5px -12px;
}
.liste {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 250px;
}
/*FOOTER*/
footer {
  position: absolute;
  top: 4500px;
  width: 100%;
  background-color: #121619;
  box-shadow: 1px -3px 6px 0px #afafaf;
  color: #fff;
}
.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top_header section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.top_header span {
  padding: 0 1rem;
}
.top_header .fa {
  color: #ffbe00;
  font-size: 35px;
}
footer .border-shape {
  width: 40%;
}
footer .border-shape::before {
  width: 100%;
  left: 120px;
}
footer .border-shape::after {
  width: 100%;
  right: 120px;
}
footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}
.bottom_content a {
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.bottom_content a:hover {
  color: rgba(255, 255, 255, 1);
}
.copyright {
  padding: 0.8em 0;
  background-color: #1e1e1e;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
.copyright a {
  color: rgba(255, 255, 255, 0.7);
}
.copyright a:hover {
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 820px) {
  .top_header {
    padding: 1rem;
    display: block;
  }
  .top_header section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }
  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }
  footer .bottom_content section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}
