@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e9edef;
}
.navbarbox {
  position: absolute;
  background: #fff;
  height: 130px;
  width: 1519px;
}
.shadowboxnavbar {
  position: absolute;
  background: rgb(210, 211, 212);
  top: 131px;
  height: 2px;
  width: 1519px;
}
.navigationbar {
  position: absolute;
  top: 80px;
  left: 300px;
}
ul,
li,
a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
a:hover {
  color: rgb(207, 141, 118);
}
ul,
li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.titreh1 {
  position: absolute;
  left: 650px;
  top: 30px;
  font-size: 2em;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
}

/*PARTIE BOX AFFICHE*/

.boxaffiche1{
  position: absolute;
  left: 135px;
  border: solid 3px black;
  border-radius: 4px;
  height: 250px;
  width: 250px;
  top: 200px;
}
.boxaffiche2{
  position: absolute;
  right: 325px;
  border: solid 3px black;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  top: 200px;
}
.boxaffiche3{
  position: absolute;
  left: 598px;
  border: solid 3px black;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  top: 200px;
}
.boxaffiche4{
  position: absolute;
  left: 598px;
  border: solid 3px black;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  top: 600px;
}
.boxaffiche5{
  position: absolute;
  left: 135px;
  border: solid 3px black;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  top: 600px;
}
.boxaffiche6{
  position: absolute;
  right: 325px;
  border: solid 3px black;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  top: 600px;
}
