@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100&display=swap");
@font-face {
  font-family: "font-1";
  src: url(/assets/fonts/chinese\ rocks\ rg.otf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbarbox {
  position: absolute;
  background: #fff;
  height: 130px;
  width: 1519px;
}
.shadowboxnavbar {
  position: absolute;
  background: rgb(210, 211, 212);
  top: 131px;
  height: 2px;
  width: 1519px;
}
.navigationbar {
  position: absolute;
  top: 80px;
  left: 300px;
}
ul,
li,
a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
a:hover {
  color: rgb(207, 141, 118);
}
ul,
li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.titreh1 {
  position: absolute;
  left: 660px;
  top: 20px;
  font-family: "font-1", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
}

body {
  background-color: #e9edef;
}
.slider {
  position: absolute;
  width: 900px;
  height: 400px;
  right: 17%;
  top: 20%;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
}
/*CSS for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #fff;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
/* CSS for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}
.navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #fff;
}

.h21 {
  position: absolute;
  left: 320px;
  top: 610px;
  font-family: "font-1", sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: underline;
}
.cabaret {
  margin-left: 19.8%;
  margin-top: 600px;
  border-radius: 10px;
}
.p1 {
  position: absolute;
  left: 320px;
  top: 690px;
  font-size: 1.2em;
  font-weight: 800;
  color: #fff;
  line-height: 1.7em;
  text-transform: uppercase;
}
.ensavoirplus {
  color: #fff;
}
.ensavoirplus:hover {
  color: rgb(207, 141, 118);
}
.musée {
  margin-left: 19.8%;
  margin-top: 40px;
  border-radius: 10px;
}
.h22 {
  position: absolute;
  left: 320px;
  top: 960px;
  font-family: "font-1", sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: underline;
}
.p2 {
  position: absolute;
  left: 320px;
  top: 1030px;
  font-size: 1.2em;
  font-weight: 800;
  color: black;
  line-height: 1.7em;
  text-transform: uppercase;
}
.ensavoirplus1 {
  color: black;
}
.ensavoirplus1:hover {
  color: rgb(207, 141, 118);
}
.cheval {
  margin-left: 19.8%;
  margin-top: 40px;
  border-radius: 10px;
}
.h23 {
  position: absolute;
  left: 320px;
  top: 1310px;
  font-family: "font-1", sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: underline;
}
.p3 {
  position: absolute;
  left: 320px;
  top: 1375px;
  font-size: 1.2em;
  font-weight: 800;
  color: #fff;
  line-height: 1.7em;
  text-transform: uppercase;
}
.ensavoirplus2 {
  color: #fff;
}
.ensavoirplus2:hover {
  color: rgb(207, 141, 118);
}
/* FOOTER  */
.blocfooter {
  position: absolute;
  top: 220%;
  width: 1519px;
  background: black;
}
.logo {
  position: absolute;
  top: 10%;
  right: 7.5%;
}
.copyright-text {
  position: absolute;
  top: 80%;
  right: 3%;
  color: white;
  font-family: "Poppins", sans-serif;
}
.copyright-text a {
  color: white;
}
.copyright-text a:hover {
  color: rgb(207, 141, 118);
}
.col {
  width: 400px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
