@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.headerimg {
  margin: -230px 0 0 0;
  margin-left: 500px;
  padding: 0px;
  top: -90px;
  left: 499px;
  height: 300px;
}
.navbarbox {
  padding: 0px;
  background: #fff;
  height: 135px;
  width: auto;
  box-shadow: 1px 3px 6px 0px #afafaf;
}
.navigationbar {
  padding: 0px;
  margin: -120px 0 0 0;
  margin-left: 247px;
  top: 100px;
  left: 332px;
}
.navigationbar a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
ul,
li,
a {
  text-align: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
a:hover {
  color: rgb(207, 141, 118);
}
ul,
li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
/* .titreh1 {
  position: absolute;
  left: 660px;
  top: 20px;
  font-family: "font-1", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
} */
/*Background Article*/
.background_article {
  position: absolute;
  height: 900px;
  width: 1050px;
  left: 25px;
  top: 160px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
/* Image flotante */
.floatimg {
  animation: floating 6s ease-in-out 0s infinite;
}
@keyframes floating {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(15px);
  }
}
.img_float {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 30px;
  top: 35px;
  transform: rotate(25deg);
}
/*Code*/
.ilustration {
  position: absolute;
  height: 200px;
  width: 350px;
  right: 25px;
  top: 175px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.ilustration2 {
  position: absolute;
  height: 200px;
  width: 350px;
  right: 25px;
  top: 500px;
  border-radius: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.ilustration3 {
  position: absolute;
  height: 200px;
  width: 350px;
  right: 25px;
  top: 825px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
}
.date {
  position: absolute;
  left: 450px;
  top: 1010px;
  font-size: 1rem;
  font-family: "Nunito", "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 250;
  color: rgba(0, 0, 0, 0.418);
  text-align: center;
}
.articleprecedent {
  position: absolute;
  left: 50px;
  top: 1015px;
  font-size: 1rem;
  font-family: "Nunito", "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  color: rgba(0, 0, 0, 0.418);
  text-align: center;
}
.articleprecedent:hover {
  color: #111;
}
.articlesuivant {
  position: absolute;
  left: 750px;
  top: 1015px;
  font-size: 1rem;
  font-family: "Nunito", "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  color: rgba(0, 0, 0, 0.418);
  text-align: center;
}
.articlesuivant:hover {
  color: #111;
}
.Titre {
  position: absolute;
  left: 350px;
  top: 175px;
  font-family: "Nunito", "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.493);
  text-align: center;
}
.description {
  position: absolute;
  left: 265px;
  top: 250px;
  font-size: 1.3rem;
  font-family: "Nunito", "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  color: rgba(0, 0, 0, 0.418);
  height: 900px;
  width: 600px;
  text-align: center;
}
.Article {
  position: absolute;
  left: 100px;
  top: 380px;
  font-family: "Nunito", "Poppins", sans-serif;
  font-size: 1.3em;
  font-weight: 450;
  color: black;
  width: 850px;
}
.ancre {
  position: absolute;
  right: 50px;
  top: 1100px;
  width: 50px;
  height: 50px;
}
.ancre:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
/*FOOTER*/
footer {
  position: absolute;
  top: 1200px;
  width: 100%;
  background-color: #121619;
  box-shadow: 1px -3px 6px 0px #afafaf;
  color: #fff;
}
.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top_header section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.top_header span {
  padding: 0 1rem;
}
.top_header .fa {
  color: #ffbe00;
  font-size: 35px;
}
footer .border-shape {
  width: 40%;
}
footer .border-shape::before {
  width: 100%;
  left: 120px;
}
footer .border-shape::after {
  width: 100%;
  right: 120px;
}
footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}
.bottom_content a {
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.bottom_content a:hover {
  color: rgba(255, 255, 255, 1);
}
.copyright {
  padding: 0.8em 0;
  background-color: #1e1e1e;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
.copyright a {
  color: rgba(255, 255, 255, 0.7);
}
.copyright a:hover {
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 820px) {
  .top_header {
    padding: 1rem;
    display: block;
  }
  .top_header section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }
  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }
  footer .bottom_content section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}
